{% extends 'base.html' %}

{%block head %}
    {{ super() }}
    <meta property="og:title" content="About COVID-19 Live"/>
    <meta property="og:url" content="https://www.covid19-live.co.uk/about/"/>
    <meta property="og:description" content="About COVID-19 Live, it's mission and some FAQs."/>
{% endblock %}

{%block title %} COVID-19 Live - About {% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<div class="container-fluid bg-about-img">
        <div class="row justify-content-center mb-5">
            <div class="col-sm-12">
                <h3 class="donate-header">About</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <h5 class="donate-subheader">We’ve listed some frequently asked questions and useful info for you.</h5>
                </div>
            </div>
        </div>

    <div class="accordion mt-2" id="about-accordian">
        <div class="card">
            <div class="card-header accordion-heading">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed accordian-header-text" type="button" data-toggle="collapse"
                            data-target="#about-1"
                            aria-expanded="false" aria-controls="about-1">
                        <i class="fa" aria-hidden="true"></i>
                        Why we built COVID-19 Live
                    </button>
                </h2>
            </div>
            <div id="about-1" class="collapse" aria-labelledby="about-heading-1"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <p class="card-para">
                        COVID-19 is the greatest threat most of us have seen in our lifetimes. It is going to affect
                        all of us, and in the most part, it will affect us negatively.
                    </p>
                    <p class="card-para">
                        However, amongst this we see an opportunity to ignite some lasting change going forwards.
                    </p>
                    <p class="card-para">
                        There are record numbers of people suffering from depression, loneliness and domestic abuse.
                        These numbers have been growing steadily, and are only likely to increase with lockdown
                        measures in place.
                    </p>
                    <p class="card-para">
                        The collective response and willingness to fight COVID-19 as one has been incredible.
                        We believe that if we could transfer even a fraction of this into tackling other important
                        issues facing the UK, then we could see genuine change soon.
                    </p>
                    <p class="card-para">
                        The first step is to spread awareness of just how prevalent issues such as depression and
                        domestic violence are and we hope that this will open your mind to the issues and encourage
                        you to take action.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header accordion-heading accordian-header-text" id="about-heading-6">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed accordian-header-text" type="button" data-toggle="collapse"
                            data-target="#generic-about-6"
                            aria-expanded="false" aria-controls="graph-interpret">
                        <i class="fa" aria-hidden="true"></i>
                        Where can I view the code?
                    </button>
                </h2>
            </div>
            <div id="generic-about-6" class="collapse" aria-labelledby="about-heading-6"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <p class="card-para">
                        We believe open source is a force for good. It inspires and drives the world of technology and
                        can bring about real innovation.
                    </p>
                    <p class="card-para">
                        In this spirit, all the code for this webapp is available on <a target="_blank"
                                                                                        href="https://github.com/AZafar98/coronavirus-webapp">
                        GitHub </a> so you can build your own COVID-19 related tools! Comments, suggestions and
                        improvements are welcomed.
                    </p>
                    <p class="card-para">
                        Interested in the design process? Check out our designers <a
                            href="https://www.figma.com/@furquan101" target="_blank"> Figma profile!</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header accordion-heading" id="about-heading-2">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed accordian-header-text" type="button" data-toggle="collapse"
                            data-target="#generic-about-2"
                            aria-expanded="false" aria-controls="graph-interpret">
                        <i class="fa" aria-hidden="true"></i>
                        How should I use the site?
                    </button>
                </h2>
            </div>
            <div id="generic-about-2" class="collapse" aria-labelledby="about-heading-2"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <span class="inline-title">COVID-19 Data</span>
                    <p class="card-para mx-2 mt-1">
                        We have tried to visualise the worldwide COVID-19 data in a simple and easy to
                        understand way.
                    </p>
                    <p class="card-para mx-2">
                        In order to better understand the pandemic and it's progression, it is useful to
                        look at both the total number of reported cases in a country, and also the trend in new reported
                        cases/deaths per day.
                    </p>
                    <p class="card-para mx-2">
                        If the number of new reports per day is still increasing, it is likely that the country has not
                        yet reached the worst of the pandemic. Once this curve starts to decline it means that less
                        people were infected today than yesterday. A continuing downward trend, therefore, can suggest
                        that the pandemic is better under control.
                    </p>

                    <span class="inline-title">Public Health Data</span>
                    <p class="card-para mx-2 mt-1">
                        We have displayed a selection of other data relating to public health issues in the UK.
                        We are not suggesting this is compared to COVID-19 directly.
                    </p>
                    <p class="card-para mx-2">
                        The data is meant to offer perspective and make you aware of the scale of these
                        issues. We want you to understand why it is important to tackle these issues, and
                        for you to spread the knowledge and message.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header accordion-heading" id="about-heading-3">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed accordian-header-text" type="button" data-toggle="collapse"
                            data-target="#generic-about-3"
                            aria-expanded="false" aria-controls="graph-interpret">
                        <i class="fa" aria-hidden="true"></i>
                        What do the types and categories of COVID-19 data mean?
                    </button>
                </h2>
            </div>
            <div id="generic-about-3" class="collapse" aria-labelledby="about-heading-3"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <span class="inline-title">Data types</span>
                    <p class="card-para mx-2 mt-1">
                    <span class="inline-title">Total Reports: </span>The total number of reports in the country each day. This is an cumulative measure.
                    </p>
                    <p class="card-para mx-2">
                        <span class="inline-title">New reports per day: </span>The number of new reports each day. I.e.
                        totalReportsToday - totalReportsYesterday
                        gives the number of new reports today.
                    </p>

                    <span class="inline-title">Data categories</span>
                    <p class="card-para mx-2 mt-1">
                        <span class="inline-title">Confirmed cases: </span> The number of confirmed COVID-19 cases in a
                        country. This is generally defined as
                        the number of people who have been tested for COVID-19 and returned a positive test.
                    </p>
                    <p class="card-para mx-2">
                        <span class="inline-title">Deaths: </span> The number of deaths attributed to COVID-19 in a
                        country. This is generally defined
                        as the number of people who have died and tested positive for COVID-19.
                    </p>
                    <p class="card-para mx-2">
                        <span class="inline-title">Recovered cases: </span> The number of confirmed recoveries from
                        COVID-19 in a country. This is generally
                        defined as the number of people who have tested positive for COVID-19 and
                        subsequently recovered.
                    </p>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header accordion-heading" id="about-heading-4">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed accordian-header-text" type="button" data-toggle="collapse"
                            data-target="#generic-about-4"
                            aria-expanded="false" aria-controls="graph-interpret">
                        <i class="fa" aria-hidden="true"></i>
                        About the data
                    </button>
                </h2>
            </div>
            <div id="generic-about-4" class="collapse" aria-labelledby="about-heading-4"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <p class="card-para">
                        The COVID-19 data is taken directly from the <a target="_blank"
                                                                        href="https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data">
                        John Hopkins CSSE.</a>
                    </p>
                    <p class="card-para">
                        The public health data is from Public Health England and the Office for National Statistics.
                        Click the button below for detailed information about the data.
                    </p>
                    <p class="card-para">
                        Note that the data is updated at 01:00 BST daily.
                    </p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm modalButton" data-toggle="modal"
                            data-target="#dataModal">
                        Data details
                    </button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header accordion-heading" id="about-heading-5">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed accordian-header-text" type="button" data-toggle="collapse"
                            data-target="#generic-about-5"
                            aria-expanded="false" aria-controls="graph-interpret">
                        <i class="fa" aria-hidden="true"></i>
                        How can I show my support?
                    </button>
                </h2>
            </div>
            <div id="generic-about-5" class="collapse" aria-labelledby="about-heading-5"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <p class="card-para">
                        You can view our <a href=" {{ url_for('donate') }}">donate page </a> to see a
                        range of charities you can support during this crisis.
                    </p>
                    <p class="card-para">
                        We also encourage you to help as much as you can within your local community, besides donating
                        money.
                    </p>
                </div>
            </div>
        </div>

            <div class="card">
                <div class="card-header accordion-heading" id="about-heading-7">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed accordian-header-text" type="button"
                                data-toggle="collapse"
                                data-target="#generic-about-7"
                                aria-expanded="false" aria-controls="graph-interpret">
                            <i class="fa" aria-hidden="true"></i>
                            Thoughts, suggestions and ideas
                        </button>
                    </h2>
                </div>
                <div id="generic-about-7" class="collapse" aria-labelledby="about-heading-7"
                     data-parent="#about-accordian">
                    <div class="card-body">
                        <p class="card-para">
                            We would love to hear your thoughts on COVID-19 Live and any suggestions you have for
                            improving the site.
                        </p>
                        <p class="card-para">
                            Connect with us on social media:
                            <a href="https://twitter.com/_AliZafar" target="_blank"> Ali Zafar</a>
                            & <a href="https://twitter.com/furquan101" target="_blank">Furquan Ahmad</a>
                            or <a href="mailto:covid19live@hotmail.com?Subject=COVID19-Live" target="_top">drop us an
                            email</a>
                        </p>

                    </div>
                </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="dataModal" tabindex="-1" role="dialog" aria-labelledby="dataModalTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title accordion-heading" id="dataModalTitle">About the data used</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <strong>A note about the data...</strong>
                <p class="card-para">
                    The COVID-19 data is as-compiled by the John Hopkins University. These figures are not a true
                    representaion of the scale of the COVID-19 outbreak as they only represent the instances where a
                    positive test is present.
                    <br>
                <p class="card-para">
                    The data is sourced from <abbr title="Public Health England" class="initialism">PHE</abbr>
                    and the <abbr title="Office for National Statistics" class="initialism">ONS</abbr>.
                    <br>
                    <small class="text-muted">
                        Data from <abbr title="Public Health England" class="initialism">PHE</abbr> has been sourced
                        using
                        the fingertips_py Python package.
                        <br>
                        The <abbr title="Office of National Statistics" class="initialism">ONS</abbr> data has been
                        taken
                        from reports and thus is not directly accessible to the user.
                    </small>
                </p>

                <strong>Heart Disease (PHE) </strong>
                <p class="card-para">The percentage of patients with coronary heart disease, as recorded on practice
                    disease register
                    "Coronary heart disease (CHD) is the single most common cause of premature death in the
                    UK. The research evidence relating to the management of CHD is well established and if
                    implemented can reduce the risk of death from CHD and improve the quality of life for
                    patients. This indicator set focuses on the management of patients with established CHD
                    consistent with clinical priorities in the four nations."
                    <br>
                    <small class="text-muted">PHE Fingertips Indicator ID 273 </small>
                </p>

                <strong>Depression (PHE) </strong>
                <p class="card-para">The percentage of patients aged 18 and over with
                    depression, as recorded on practice disease registers.CCG: The recorded depression
                    prevalence is the number of people with depression recorded on their practice register
                    within a CCG, as a proportion of the practice list size of the CCG aged 18 years or over
                    <br>
                    <small class="text-muted">PHE Fingertips Indicator ID 848 </small>
                </p>


                <strong>Road casualties (ONS) </strong>
                <p class="card-para">TBC
                </p>

                <strong>Loneliness (ONS) </strong>
                <p class="card-para"> Community Life Survey, 2016 to 2017, there were 5% of
                    adults (aged 16 years and over) in England reporting feeling lonely “often/always”
                    <br>
                    <small class="text-muted"><a target="_blank"
                                                 href="https://www.ons.gov.uk/peoplepopulationandcommunity/wellbeing/articles/lonelinesswhatcharacteristicsandcircumstancesareassociatedwithfeelinglonely/2018-04-10">ONS
                        loneliness report</a></small>
                </p>

                <strong>Domestic Abuse (PHE) </strong>
                <p class="card-para">Domestic abuse-related incidents and crimes
                    recorded by the police, crude rates per 1,000.
                    Tackling domestic abuse as a public health issue is vital for ensuring that some of the
                    most vulnerable people in our society receive the support, understanding and treatment
                    they deserve. The more we can focus in on interventions that are effective, the more we
                    can treat victims and prevent future re-victimisation. It is also the government's
                    strategic ambition, as set out in Ending Violence against Women and Girls, Strategy 2016
                    \u2013 2020, to do what it can to contribute to a cohesive and comprehensive response."
                    <br>
                    <small class="text-muted">PHE Fingertips Indicator ID 92863 </small>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}