{% extends 'base.html' %}

{%block head %}
    {{ super() }}
    <meta property="og:title" content="About COVID-19 Live"/>
    <meta property="og:url" content="https://azafar98.pythonanywhere.com/about/"/>
    <meta property="og:description" content="About COVID-19 Live, it's mission and some FAQs."/>
{% endblock %}

{%block title %} COVID-19 Live - About {% endblock %}

{% block scripts %}
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid align-items-center">

    <lottie-player
            src="https://assets1.lottiefiles.com/packages/lf20_wpGbRj.json" background="transparent"
            speed="1" hover loop class="mx-auto img-fluid rounded header-image">
    </lottie-player>


    <div class="accordion mx-3 mt-2" id="about-accordian">
        <div class="card">
            <div class="card-header accordion-heading">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#graph-interpret"
                            aria-expanded="false" aria-controls="graph-interpret" id="explainer-header-text">
                        <i class="fa" aria-hidden="true"></i>
                        Why did we build COVID-19 Live?
                    </button>
                </h2>
            </div>
            <div id="graph-interpret" class="collapse" aria-labelledby="graph-explain-heading"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <p class="card-para">
                        There will be something here
                    </p>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-header accordion-heading" id="about-heading-2">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#generic-about-2"
                            aria-expanded="false" aria-controls="graph-interpret" id="explainer-header-text">
                        <i class="fa" aria-hidden="true"></i>
                        How should I use this tool?
                    </button>
                </h2>
            </div>
            <div id="generic-about-2" class="collapse" aria-labelledby="about-heading-2"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <p class="card-para">
                        Soon. Hopefully.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header accordion-heading" id="about-heading-3">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#generic-about-3"
                            aria-expanded="false" aria-controls="graph-interpret" id="explainer-header-text">
                        <i class="fa" aria-hidden="true"></i>
                        What do the types of COVID-19 data mean?
                    </button>
                </h2>
            </div>
            <div id="generic-about-3" class="collapse" aria-labelledby="about-heading-3"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <p class="card-para">
                        We just need something useful.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header accordion-heading" id="about-heading-4">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#generic-about-4"
                            aria-expanded="false" aria-controls="graph-interpret" id="explainer-header-text">
                        <i class="fa" aria-hidden="true"></i>
                        What do the categories of COVID-19 data mean?
                    </button>
                </h2>
            </div>
            <div id="generic-about-4" class="collapse" aria-labelledby="about-heading-4"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <p class="card-para">
                        So people might actually want to read it.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header accordion-heading" id="about-heading-5">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#generic-about-5"
                            aria-expanded="false" aria-controls="graph-interpret" id="explainer-header-text">
                        <i class="fa" aria-hidden="true"></i>
                        Where is the data from?
                    </button>
                </h2>
            </div>
            <div id="generic-about-5" class="collapse" aria-labelledby="about-heading-5"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <p class="card-para">
                        Or just some useful information.
                    </p>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header accordion-heading" id="about-heading-6">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#generic-about-6"
                            aria-expanded="false" aria-controls="graph-interpret" id="explainer-header-text">
                        <i class="fa" aria-hidden="true"></i>
                        Can I view the code?
                    </button>
                </h2>
            </div>
            <div id="generic-about-6" class="collapse" aria-labelledby="about-heading-6"
                 data-parent="#about-accordian">
                <div class="card-body">
                    <p class="card-para">
                        Or something else entirely.
                    </p>
                </div>
            </div>
        </div>
    </div>


</div>


{% endblock %}