<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--    Bootstrap and jQuery-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous" defer></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous" defer></script>

    <!--    FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <!--    Chart.js-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" defer></script>
    <!--    Chart.js plugin to draw annotations on charts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"
            defer></script>

    <!--    Local stylesheet-->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<!--        Javascript-->
    <script type="text/javascript" defer>

        let totalCases = {{ displayCovidCases(cases=True, period='Total') }};
        let totalCasesDate = {{ displayCovidCases(cases=False, period='Total') |tojson|safe }};
        let cases24H = {{ displayCovidCases(cases=True, period='24h') }};
        let cases24HDate = {{ displayCovidCases(cases=False, period='24h') |tojson|safe }};
        let cases7Days = {{ displayCovidCases(cases=True, period='7days') }};
        let cases7DaysDate = {{ displayCovidCases(cases=False, period='7days') |tojson|safe }};
        let heartDiseaseData = {{ getPHEData(indicator=273, dev=True) }}
        let depressionData = {{ getPHEData(indicator=848, dev=True) }}
        let domesticAbuseData = {{ getPHEData(indicator=92863, dev=True) }}
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" defer></script>


    <!--    Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Michroma&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ url_for('index') }}">Corona Virus Live</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <span class="navbar-text">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('donate') }}">Donate</a>
            </li>
        </ul>
    </span>
    </div>
</nav>

{% block content %}{% endblock %}

<!--TODO: Make this footer stick to the bottom of the page. Currently it displays where content ends.-->

<footer class="page-footer align-items-center my-3" id="page-footer">
    <div class="container-fluid text-center" id="footer-text">
        <hr class="footer-rule">
<!--        From Ali & Furquan ❤️-->
        <span>AZ & FA</span>
    </div>
</footer>

</body>
</html>