{% extends 'base.html' %}

{%block head %}
{{ super() }}
<meta property="og:title" content="Support the fight against COVID-19"/>
<meta property="og:url" content="https://azafar98.pythonanywhere.com/donate/"/>
<meta property="og:description" content="Show your support in the fight against COVID-19."/>
<meta property="twitter:description" content="Show your support in the fight against COVID-19."/>
{% endblock %}


{%block title %} COVID-19 Live - Donate {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ url_for('static', filename='images/rsz1_thank-you-nhs.jpg') }}"
                 class="img-fluid mx-auto rounded d-block" alt="About Page Image">
        </div>
    </div>



    <div class="card-deck my-3 text-center">
        <div class="card mb-4 box-shadow">
            <a target="_blank" href="https://fareshare.org.uk/help-us/">
                <img src="{{ url_for('static', filename='images/fs-logo.png') }}" class="card-img-top"
                     alt="FareShare - Fighting hunger. Tackling food waste.">
            </a>
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">FareShare</h4>
            </div>
            <div class="card-body">
                <!--                <h5 class="card-title">FareShare</h5>-->
                <p class="card-text">FareShare is the UK’s national network of charitable food redistributors, made
                    up of 17 independent organisations. Together, we take good quality surplus food from right
                    across the food industry and get it to almost 11,000 frontline charities and community
                    groups.
                </p>
                <p class="card-text">
                    During this crisis, it is more important than ever to support vulnerable people. Help FareShare to
                    deliver more food to those most in need.
                </p>
            </div>
            <div class="card-footer donate-footer">
                <a target="_blank" href="https://fareshare.org.uk/help-us/" class="btn btn-primary btn-block donateButton">Support
                    FareShare</a>
            </div>
        </div>

        <div class="col-sm-4 d-flex justify-content-center text-center">
            <div class="card mb-4 box-shadow">
                <a target="_blank" href="https://www.mealsforthenhs.com/">
                    <img src="{{ url_for('static', filename='images/meals-for-nhs.png') }}" class="card-img-top"
                         alt="FareShare - Fighting hunger. Tackling food waste.">
                </a>
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Meals for the NHS</h4>
                </div>
                <div class="card-body">
                    <!--                <h5 class="card-title">Meals for the NHS</h5>-->
                    <p class="card-text">
                        Help buy meals for the NHS staff fighting COVID-19
                        After 18-hour shifts trying to save our lives from COVID-19, NHS Hospital Staff are faced
                        with canteens that shut at 5pm .
                    </p>
                    <p class="card-text">
                        NHS workers are currently being pushed to their limits. Helping to buy meals for the staff is a
                        small gesture on your part but it has a huge impact on the staff.
                    </p>
                </div>
                <div class="card-footer donate-footer">
                    <a target="_blank" href="https://www.mealsforthenhs.com/"
                       class="btn align-self-end btn-block btn-primary donateButton">Support
                        the NHS</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 d-flex flex-column justify-content-center text-center">
            <div class="card mb-4 box-shadow">
                <a target="_blank" href="https://campaign.refuge.org.uk/page/58366/donate/1?ea.tracking.id=EMER-landing">
                    <img src="{{ url_for('static', filename='images/refuge-logo.png') }}" class="card-img-top img-fluid"
                         alt="FareShare - Fighting hunger. Tackling food waste.">
                </a>
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Refuge</h4>
                </div>
                <div class="card-body">
                    <!--                <h5 class="card-title">FareShare</h5>-->
                    <p class="card-text">On any given day Refuge supports more than 6,000 clients, helping them rebuild
                        their lives and overcome many different forms of violence and abuse; for example domestic
                        violence, sexual violence, so-called ‘honour’-based violence, human trafficking and modern
                        slavery, and female genital mutilation.
                    </p>
                    <p class="card-text">
                        With domestic violence incidents increasing during the lockdown, it is important now more than
                        ever to support Refuge.
                    </p>
                </div>
                <div class="card-footer donate-footer">
                    <a target="_blank" href="https://campaign.refuge.org.uk/page/58366/donate/1?ea.tracking.id=EMER-landing"
                       class="btn btn-primary btn-block donateButton">Support Refuge</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--https://fareshare.org.uk/help-us/-->
<!--https://www.mealsforthenhs.com/-->
</div>
{% endblock %}