{% extends 'base.html' %}

{%block head %}
    {{ super() }}
    <meta property="og:title" content="Support the fight against COVID-19"/>
    <meta property="og:url" content="https://azafar98.pythonanywhere.com/donate/"/>
    <meta property="og:description" content="Show your support in the fight against COVID-19."/>
    <meta property="twitter:description" content="Show your support in the fight against COVID-19."/>
{% endblock %}


{%block title %} COVID-19 Live - Donate {% endblock %}

{% block content %}
<img src="{{ url_for('static', filename='images/covid-about.jpg') }}" class="img-fluid mx-auto rounded d-block" alt="About Page Image">

{% endblock %}