{% extends 'base.html' %}

{%block title %} COVID-19 Live {% endblock %}

{%block script %}

{% endblock %}

{% block content %}

<div class="container-fluid text-center align-items-center">

    <div class="row content text-center align-items-center mt-5">
        <div class="col" id="covidCount">
            <h1 id="covidNumberTitle">
                <span id="covidNumber"></span>
                <small id="covidCountStrapline">United Kingdom coronavirus cases</small>
                <span id="dataDate"></span>
            </h1>
        </div>
    </div>


    <div class="row content text-center align-items-center">
        <div class="col align-items-center text-center">
            <button type="button" class="btn btn-primary timeRangeButton" id="timeRangeButton1">
                Total
            </button>
            <button type="button" class="btn btn-primary timeRangeButton" id="timeRangeButton2">
                7 Days
            </button>
            <button type="button" class="btn btn-primary timeRangeButton" id="timeRangeButton3">
                24 Hours
            </button>
        </div>
    </div>

    <div class="row content text-left">
        <div class="col mt-5">
            <span class="mx-1" id="otherSubtitle">Trajectory</span>

            <div class="accordion mx-3 mt-2" id="trajectory-explainer-accordian">
                <div class="card">
                    <div class="card-header accordion-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#trajectory-explainer"
                                    aria-expanded="false" aria-controls="trajectory-explainer"
                                    id="explainer-header-text">
                                <i class="fa" aria-hidden="true"></i>
                                What does this mean?
                            </button>
                        </h2>
                    </div>

                    <div id="trajectory-explainer" class="collapse" aria-labelledby="trajectory-explain-heading"
                         data-parent="#trajectory-explainer-accordian">
                        <div class="card-body">
                            <p class="card-para">
                                Trajectory of deaths and cases in the UK.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col my-2">
            <div class="dropdown bootstrap-select">
                <select data-style="bg-white px-4 py-3 shadow-sm" class="selectpicker" data-width="auto"
                        data-live-search="true" title="Data to view" id="covidTypeSelect">
                    <option value="confirmed" selected>Confirmed cases</option>
                    <option value="deaths">Deaths</option>
                    <option value="recovered">Recovered cases</option>
                </select>
            </div>
        </div>

        <div class="col my-2">
            <div class="dropdown bootstrap-select">
                <select data-style="bg-white px-4 py-3 shadow-sm" class="selectpicker"
                        multiple data-live-search="true" data-selected-text-format="count > 3"
                        title="Countries to compare" data-width="auto"
                        name="test[]" data-actions-box="true" id="countrySelector">
                    {% for country in country_options %}
                    <option value="{{ country }}">{{ country }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mx-auto" id="covid-graph-container">
            <div class="col mt-3 w-100" id="covidTimeSeries"></div>
        </div>
    </div>

    <div class="row content text-left">
        <div class="col mt-5">
            <span class="mx-1" id="otherSubtitle">How does this compare?</span>

            <div class="accordion mx-3 mt-2" id="graph-explainer">
                <div class="card">
                    <div class="card-header accordion-heading">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#graph-interpret"
                                    aria-expanded="false" aria-controls="graph-interpret" id="explainer-header-text">
                                <i class="fa" aria-hidden="true"></i>
                                 Understanding the graph
                            </button>
                        </h2>
                    </div>

                    <div id="graph-interpret" class="collapse" aria-labelledby="graph-explain-heading"
                         data-parent="#graph-explainer">
                        <div class="card-body">
                            <p class="card-para">
                                The graph shows the reported number of COVID cases compared to the average rate of
                                occurrence
                                of (so far) heart disease, depression and domestic abuse.
                                <br>
                                For more information about the data, see <a href="{{ url_for('about') }}">here.</a>
                            </p>
                            <p class="card-para">
                                The intention is not to take away from the seriousness of the threat COVID-19 poses to
                                us,
                                but to share some perspective about some of the other important issues we face as a
                                society in the context of COVID-19.
                            </p>
                            <p class="card-para">
                                The data below is from <abbr title="Public Health England" class="initialism">PHE</abbr>.
                                Yearly figures have been averaged to 7 days and 24 hours to give an
                                average representation where the exact data is not available.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row content text-left">
        <div class="col mx-auto" id="graph-container">
            <canvas class="col mt-5 w-75" id="graphArea"></canvas>
        </div>
    </div>
</div>

{% endblock %}
