body {
    background: #FFF8F6;
    font-family: Inter;
    font-style: normal;
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding-bottom: 100px;
    max-width: 100vw;
}

@media only screen and (min-width: 768px) {
    body {
        background: #FFF8F6;
        font-family: Inter;
        font-style: normal;
        min-height: 100vh;
        position: relative;
        padding-bottom: 100px;
        max-width: 100vw;
    }
}

a {
    color: #D02F46;
    text-decoration: underline;
}


.bg-donate-img {
    text-align: -moz-center;
    text-align: -webkit-center;
}

@media only screen and (min-width: 768px) {
    .bg-donate-img {
    background-image: url('../images/donate_bg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 768px) {
    .bg-donate-img .text-center {
        max-width: 60vw;
    }
}

.bg-about-img {
    text-align: -moz-center;
    text-align: -webkit-center;
}

@media only screen and (min-width: 768px) {
    .bg-about-img .text-center {
        max-width: 60vw;
    }
}

.navbar-custom {
    background-color: inherit;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-variant: all-small-caps;
    text-decoration: none;
}
/* change the brand and text color */
.navbar-custom .navbar-brand {
    color: #D02F46;
    margin-left: 0;
    text-decoration: none;
}
/* We want the navbar indented only on big screens - not on mobile. */
@media only screen and (min-width: 768px) {
    .navbar-custom .navbar-brand {
        margin-left: 1.5rem;
    }
}

.navbar-custom .navbar-text {
    color: #D02F46;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ED8182;
    text-decoration: none;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #D02F46;
}

/* We want the navbar to be indented from the right - but only on big screens */
.navbar-custom ul.nav-right {
    margin-right: 0;
}

@media only screen and (min-width: 768px) {
    .navbar-custom ul.nav-right {
        margin-right: 1.5rem;
        /*margin-right: 5vw;*/
    }
}

.navbar-custom .navbar-nav .navbar-active {
    color: #D02F46;
}

.navbar-custom .navbar-collapse {
    margin-left: 0;
}

@media only screen and (min-width: 768px) {
    .navbar-custom .navbar-collapse {
        margin-left: 5vw;
    }
}

.donate-header {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 150%;
    font-size: 6vw;
    margin-bottom: 0;
    background-color: #FFF8F6;
    display: inline;
}

.donate-subheader {
    font-family: Roboto, sans-serif;
    line-height: 150%;
    font-style: normal;
    /*max-width: 60vw;*/
    font-size: 3vw;
    color: #434343;
    background-color: #FFF8F6;
    display: table;
    padding: 0.1vh;
}

@media only screen and (min-width: 768px) {
    .donate-header {
        font-size: 4vw;
        margin-bottom: 1rem;
        max-width: 50vw;
    }

    .donate-subheader {
        display: block;
    }
}


@media only screen and (min-width: 768px) {
    .donate-subheader {
        font-family: Roboto, sans-serif;
        line-height: 150%;
        font-style: normal;
        font-size: 1.5vw
    }
}

.card-text {
    text-align: left;
}

.card-title {
    font-weight: 900;
}

.card-img-top {
    border-radius: 7px;
}

#covidNumberTitle {
    /*font-size: clamp(25px, 17vw, 200px);*/
    font-size: 13vw;
    text-align-last: center;
}

@media only screen and (min-width: 768px) {
    #covidNumberTitle {
        font-size: 8vw;
    }
}

.para-lead {
    font-weight: 400;
}

.card-para {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2.5vw;
    font-family: Inter;
}

@media only screen and (min-width: 768px) {
    .card-para {
        font-size: 1vw;
    }
}

.card-body {
    text-align: left;
    background-color: #FFFFFF
}

.card-body strong {
    font-weight: bolder;
    font-variant: all-small-caps;
    font-size: 3vw;
}

@media only screen and (min-width: 768px) {
    .card-body strong {
        font-weight: bolder;
        font-variant: all-small-caps;
        font-size: 1.75vw;
    }
}

.card-body .card-para strong{
    font-weight: bolder;
    font-size: inherit;
    font-variant: inherit;
}

.accordian-header-text {
    font-family: Roboto, sans-serif;
    font-size: 3vw;
    color: #000000;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    .accordian-header-text {
        font-size: 1.5vw;
        padding-bottom: 1vh;
        padding-top: 1vh;
    }
}

.accordian-header-text:hover {
    color: #D02F46;
}

.accordion-heading {
    background-color: #FFF8F6;
    padding: 0 0 0 2vw;
    text-align: left;
}

.accordion .card {
    border: 2px solid #CECECE;
    border-left: none;
    border-right: none;
}

@media only screen and (min-width: 768px) {
    #about-accordian {
        margin: 0 8vw 0 8vw;
    }
}

.inline-title {
    font-size: 3vw;
    display: inline;
}

@media only screen and (min-width: 768px) {
    .inline-title {
        font-size: 1.25vw;
    }
}

#dataDate {
    font-size: 2.5vw;
    display: inherit;
    font-variant: all-small-caps;
    letter-spacing: 0.02em;
    font-family: Inter;
    margin-top: 0.1vh;
}

@media only screen and (min-width: 768px) {
    #dataDate {
        font-size: 1.5vw;
    }
}

#covidCount {
    display: inline-block;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: bold;
    font-size: 10vw;
    line-height: 0;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #D02F46;
}

#covidCountStrapline {
    display: block;
    /*margin-top: max(10px, 1vh);*/
    margin-top: 1vh;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ED8182;
}

@media only screen and (min-width: 768px) {
    #covidCountStrapline {
        font-size: 2vw;
    }
}

.otherSubtitle {
    /*font-size: clamp(15px, 2vw, 125px);*/
    font-size: 4vw;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ED8182;
}

@media only screen and (min-width: 768px) {
    .otherSubtitle {
        font-size: 2.5vw;
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #ED8182;
    }
}

.timeRangeButton {
    padding: 1vh 1vw;
    border: 1.5px solid #ED8182;
    border-radius: 4px;
    text-align: center;
    background-color: inherit;
    color: #ED8182;
    cursor: auto;
    text-transform: uppercase;
    font-size: 2.5vw;
    margin-right: 2vw;
    /*margin-top: min(5px, 1vh);*/
    margin-top: 0.5vh;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .timeRangeButton {
        font-size: 1.25vw;
    }
}

.timeRangeButton:hover {
    background-color: inherit;
    border: 1.5px solid #D02F46;
    color: #D02F46;
}

.timeRangeButton:focus {
    background-color: inherit;
    border: 1.5px solid #D02F46;
    color: #D02F46;
}

.modalButton {
    padding: 1vh 1vw;
    border: 1.5px solid #ED8182;
    border-radius: 4px;
    text-align: center;
    background-color: inherit;
    color: #ED8182;
    cursor: auto;
    text-transform: uppercase;
    font-size: 2vw;
    margin-right: 2vw;
    /*margin-top: min(5px, 1vh);*/
    margin-top: 0.5vh;
}

@media only screen and (min-width: 768px) {
    .modalButton {
        font-size: 1vw;
    }
}

.modalButton:hover {
    background-color: inherit;
    border: 1.5px solid #D02F46;
    color: #D02F46;
}

.modalButton:focus {
    background-color: inherit;
    border: 1.5px solid #D02F46;
    color: #D02F46;
}

.buttonActive {
    border: 1.5px solid #D02F46;
    color: #D02F46;
}

.donateButton {
    display:block;
    padding: 1vh 1vw;
    border: 1.5px solid #ED8182;
    border-radius: 4px;
    text-align: center;
    background-color: inherit;
    color: #ED8182;
    /*cursor: auto;*/
    text-transform: uppercase;
    font-size: 4.5vw;
    margin-right: 2vw;
    margin-top: 0.5vh;
    cursor: pointer;
    text-decoration: none;
}

@media only screen and (min-width: 768px) {
    .donateButton {
        display: initial;
        font-size: 1.25vw;
        margin-right: auto;
        padding: 0.5vh 1vw;
        font-weight: 900;
    }
}

.donateButton:hover {
    background-color: inherit;
    border: 1.5px solid #D02F46;
    color: #D02F46;
}

.donateButton:focus {
    background-color: inherit;
    border: 1.5px solid #D02F46;
    color: #D02F46;
}

.donate-footer{
    background-color: inherit;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.donate-cards {
    border: none;
}

.donate-cards:hover {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .1);
    transform: scale(1.01);
    transition: 0.3s cubic-bezier(.215, .61, .355, 1);
}

/*.bootstrap-select > .dropdown-toggle:active {*/
/*    border: 1.5px solid #D02F46;*/
/*    color: #D02F46;*/
/*}*/

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #D02F46;
  background-color: #FFF8F6;
}
.dropdown-menu .active,
.dropdown-menu .selected {
  text-decoration: none;
  color: #ffffff;
  background-color: #D02F46;
}

#graphArea {
    display: block;
    margin: 0 auto 0 auto;
}

canvas{
    margin: 0 auto;
}

#covid-graph-container, #graph-container {
    max-width: 95vw;
    max-height: 50vh;
    background: #FFF8F6;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding-right: 2vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

@media only screen and (min-width: 768px) {
    #covid-graph-container, #graph-container {
        max-width: 75vw;
        max-height: 75vh;
        background: #FFF8F6;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        padding-right: 2vw;
        padding-top: 5vh;
        padding-bottom: 5vh;
        min-height: 50vh;
    }
}


#footer-text {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 0px;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #D02F46;
}

@media only screen and (min-width: 768px) {
    #footer-text {
        font-family: Inter;
        font-style: normal;
        font-weight: 500;
        font-size: 0.75vw;
        line-height: 0px;
        letter-spacing: -0.02em;
        text-transform: capitalize;
        color: #D02F46;
    }
}

#page-footer {
    width: 100vw;
    bottom: 0;
    position: absolute;
}

/*#covidTypeSelect {*/
/*    font-size: 2vw;*/
/*}*/

#covidTimeSeries .dygraph-title{
    font-size: 4vw;
    font-family: Inter;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    #covidTimeSeries .dygraph-title {
        font-size: 2vw;
        font-family: Inter;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) {
    #covidTimeSeries * {
        /*max-width: 85vw;*/
        /*padding-right: 10vw;*/
    }
}

#graph-select-menus .fa-question-circle {
    float: right;
    margin-bottom: 0.75vh;
    margin-top: 0.75vh;
}

#covidLegend {
    display: block;
    vertical-align: top;
    width: 100%;
}

.header-image {
    max-width: 30vw;
    max-height: 40vh;
    margin-bottom: 5vh;
    margin-top: 5vh;
    display: flex;
}


hr.footer-rule {
    border: 0.5px solid #ED8182;
}


[data-toggle="collapse"] .fa:before {
    content: "\f068 ";
    color: #D02F46;

}

[data-toggle="collapse"].collapsed .fa:before {
    content: "\f067";
    color: #D02F46;
}