body {
    background: #F5E4E1;
}

#covid-number {
    font-size: clamp(25px, 10vw, 125px);
    text-align-last: center;
}

#covid-count {
    display: inline-block;
    font-family: 'Michroma';
    font-style: normal;
    font-weight: bold;
    font-size: 10vw;
    line-height: 0;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #D02F46;
    /*background: #edcfca;*/

}

#covid-count-strapline {
    position: inherit;
    display: block;
    margin-top: min(40px,10vh);
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 2vw;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ED8182;
    text-align: left;
    float: none;
    width: auto;
    height: auto;
}

#other-subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #ED8182;
}


#time-range-button {
    padding: 1vh 1vw;
    border: 1.5px solid #D02F46;
    border-radius: 4px;
    text-align: center;
    background-color: inherit;
    color: #ED8182;
    cursor: auto;
    text-transform: uppercase;
    font-size: 1.25vw;
    margin-right: 2vw;
    margin-top: min(2vh, 100px);
}

#time-range-button:hover{
    background-color: #D02F46;
    color: white
}

#time-range-button:focus{
    color: #D02F46
}

#other-factors {
    position: absolute;
    width: auto;
    height: 0;
    top: 45vh;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 2.25vw;
    line-height: 0px;
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;
    text-transform: capitalize;
    color: #ED8182;
}

#factor{
    display: inline-grid;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 4;
    text-align: left;
    letter-spacing: 0.02em;
    color: #D02F46;
}

#disease-title {
    position: inherit;
    display: block;
    margin-top: min(40px,10vh);
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    /*font-size: 2vw;*/
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ED8182;
    text-align: left;
    float: none;
    width: auto;
    height: auto;
}